
<!DOCTYPE html> <!-- Indica que es un documento HTML5 -->
<html lang="es"> <!-- Inicio del documento, idioma español -->
<head> <!-- Cabecera invisible -->
<meta charset="UTF-8"> <!-- Permite tildes y caracteres especiales -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Adapta a móviles -->
<title>EcoPoint - Registrarse</title> <!-- Título en la pestaña -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap desde CDN -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Iconos de Google -->
<link rel="stylesheet" href="../assets/css/estiloK.css">


</head> <!-- Cierra head -->

<body> <!-- Contenido visible -->

<div class="app-container"> <!-- Contenedor principal pantalla completa -->

    <!-- HEADER -->
    <div class="header"> <!-- Barra superior -->
    </div> <!-- Cierra header -->

    <!-- CONTENIDO -->
    <div class="container py-5"> <!-- contenedor con boostrap, tiene padding arriba y abajo-->
        <div class="row justify-content-center">  <!--centra contenido -->
            <div class="col-md-6"> <!-- Columna que ocupara mitad pantalla, 100% en móvil-->
        <p class="EcoPoint">EcoPoint</p> <!-- Texto EcoPoint en negrita -->

        <!-- TÍTULO CON LOGO -->
        <div class="title-row"> <!-- Fila que pone logo y título en horizontal -->
            <img src="../assets/images/logo.png" alt="Logo"> <!-- Logo -->
            <h2 class="title">Registrarse</h2> <!-- Título grande -->
        </div> <!-- Cierra title-row -->

        <!-- FORMULARIO -->
        <div class="form-card"> <!-- Tarjeta blanca que contiene el formulario -->

            <!-- NOMBRE -->
            <div class="mb-3"> <!-- margen inferior entre input -->
                <label class="form-label">Nombre</label> 
                <input type="text" id="inputNombre" placeholder="Tu nombre" class="form-control"> <!-- Input con estilo boostrap -->
                <span class="error-msg" id="errorNombre"></span> <!-- Span donde aparece el mensaje de error del nombre -->
            </div> <!-- Cierra input-group nombre -->

            <!-- APELLIDOS -->
            <div class="mb-3"> <!-- margen inferior entre input -->
                <label class="form-label">Apellidos</label> 
                <input type="text" id="inputApellidos" placeholder="Tus apellidos" class="form-control"> <!-- Input con estilo boostrap -->
                <span class="error-msg" id="errorApellidos"></span> <!-- Span donde aparece el mensaje de error de apellidos -->
            </div> <!-- Cierra input-group apellidos -->

            <!-- CORREO -->
            <div class="mb-3"> <!-- Margen inferior entre input -->
                <label class="form-label">Correo</label> 
                <input type="email" id="inputCorreo" placeholder="email@correo.com" class="form-control"> <!-- Campo email, id para identificarlo en JS -->
                <span class="error-msg" id="errorCorreo"></span> <!-- Span donde aparece el mensaje de error del correo -->
            </div> <!-- Cierra input-group correo -->

            <!-- CONTRASEÑA -->
            <div class="input-group"> <!-- Margen inferior entre input -->
                <label>Contraseña</label> 
                <input type="password" id="inputPassword" placeholder="min. 6 caracteres"> <!-- Campo que oculta lo escrito, id para JS -->
                <span class="error-msg" id="errorPassword"></span> <!-- Span donde aparece el mensaje de error de contraseña -->
            </div> <!-- Cierra input-group contraseña -->

            <!-- TÉRMINOS Y CONDICIONES -->
            <div class="terminos"> <!-- Contenedor del checkbox -->
                <input type="checkbox" id="terminos"> <!-- Casilla de verificación -->
                <label for="terminos"> <!-- Etiqueta enlazada al checkbox -->
                    He leído y acepto los <!-- Texto del label -->
                    <a href="#">términos y condiciones</a> <!-- Enlace en verde -->
                </label> <!-- Cierra label -->
            </div> <!-- Cierra terminos -->
            <span class="error-terminos" id="errorTerminos">Debes aceptar los términos y condiciones</span> <!-- Error si no se marca el checkbox -->

            <button class="btn btn-success w-100" onclick="validarFormulario()">Registrar</button> <!-- Botón que llama a la función de validación -->

        </div> <!-- Cierra form-card -->

            </div> <!-- cierra columd6 -->
        </div> <!-- cierra row-->
    </div> <!-- Cierra content -->

    <!-- BOTTOM NAVIGATION -->
    <div class="bottom-nav"> <!-- Barra inferior de navegación -->
        <span class="material-icons active">home</span> <!-- Icono casa activo, verde -->
        <span class="material-icons">search</span> <!-- Icono lupa -->
        <span class="material-icons">notifications_none</span> <!-- Icono campana -->
        <span class="material-icons profile">person</span> <!-- Icono persona con fondo morado -->
    </div> <!-- Cierra bottom-nav -->

</div> <!-- Cierra app-container -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> <!-- JavaScript de Bootstrap -->

<script> <!-- Inicio del bloque JavaScript de validación -->

    const nombresRegistrados = ["admin", "usuario1", "ecopoint"]; /* Lista de nombres ya registrados (simulada) */
    const soloLetras = /^[a-záéíóúüñA-ZÁÉÍÓÚÜÑ\s]+$/;  /* variable para las validaciones de formulario*/

    function validarFormulario() { /* Función principal que valida todos los campos al pulsar Registrar */
        let valido = true; /* Variable que controla si el formulario es válido, empieza en true */

        limpiarErrores(); /* Limpia todos los errores anteriores antes de validar de nuevo */

        const nombre    = document.getElementById("inputNombre"); /* Obtiene el input de nombre */
        const apellidos = document.getElementById("inputApellidos"); /* Obtiene el input de apellidos */
        const correo    = document.getElementById("inputCorreo"); /* Obtiene el input de correo */
        const password  = document.getElementById("inputPassword"); /* Obtiene el input de contraseña */
        const terminos  = document.getElementById("terminos"); /* Obtiene el checkbox de términos */

        /* Validar NOMBRE */
        if (nombre.value.trim() === "") { /* Si el campo nombre está vacío */
            mostrarError("inputNombre", "errorNombre", "Este campo es obligatorio"); /* Muestra error de campo obligatorio */
            valido = false; /* El formulario no es válido */
        } else if (nombre.value.trim().length < 2) {
            mostrarError("inputNombre", "errorNombre", "El nombre debe tener al menos 2 carácteres");
            valido = false;
        } else if (!soloLetras.test(nombre.value.trim())) { /* Nombre solo usa letras */
            mostrarError("inputNombre", "errorNombre", "El nombre solo puede contener letras"); /* Mensaje error */
            valido = false; /* El formulario no es válido */
        }

        /* Validar APELLIDOS */
        if (apellidos.value.trim() === "") { /* Si el campo apellidos está vacío */
            mostrarError("inputApellidos", "errorApellidos", "Este campo es obligatorio"); /* Muestra error de campo obligatorio */
            valido = false; /* El formulario no es válido */
        } else if (apellidos.value.trim().length < 2) {
            mostrarError("inputApellidos", "errorApellidos", "El apellido debe tener al menos 2 carácteres");
            valido = false;
        } else if (!soloLetras.test(apellidos.value.trim())) { /* Apellido solo usa letras */
            mostrarError("inputApellidos", "errorApellidos", "Los apellidos solo puede contener letras"); /* Mensaje error */
            valido = false; /* El formulario no es válido */
        }

        /* Validar CORREO */
        if (correo.value.trim() === "") { /* Si el campo correo está vacío */
            mostrarError("inputCorreo", "errorCorreo", "Este campo es obligatorio"); /* Muestra error de campo obligatorio */
            valido = false; /* El formulario no es válido */
        } else if (!formatoEmailValido(correo.value.trim())) { /* Si el correo no tiene formato válido */
            mostrarError("inputCorreo", "errorCorreo", "El formato del email no es válido"); /* Muestra error de formato incorrecto */
            valido = false; /* El formulario no es válido */
        }

        /* Validar CONTRASEÑA */
        if (password.value.trim() === "") { /* Si el campo contraseña está vacío */
            mostrarError("inputPassword", "errorPassword", "Este campo es obligatorio"); /* Muestra error de campo obligatorio */
            valido = false; /* El formulario no es válido */
        } else if (password.value.length < 6) { /* Si la contraseña tiene menos de 6 caracteres */
            mostrarError("inputPassword", "errorPassword", "La contraseña debe tener 6 carácteres"); /* Muestra error de longitud */
            valido = false; /* El formulario no es válido */
        } else if (!/(?=.*[a-zA-Z])(?=.*[0-9])/ .test(password.value)) {
            mostrarError("inputPassword", "errorPassword", "La contraseña tiene que tener letras y numeros"); /*la contraseña tiene que tener al menos 1 letra*/
            valido = false;
        } 

        /* Validar TÉRMINOS */
        if (!terminos.checked) { /* Si el checkbox no está marcado */
            document.getElementById("errorTerminos").classList.add("visible"); /* Muestra el error de términos */
            valido = false; /* El formulario no es válido */
        }

        if (valido) { /* Si todos los campos son válidos */
            alert("¡Registro completado con éxito!"); /* Muestra mensaje de éxito */
            /* Aquí puedes redirigir o enviar el formulario a la base de datos */
        }
    } /* Cierra función validarFormulario */

    function mostrarError(inputId, errorId, mensaje) { /* Función que muestra el error en un campo concreto */
        document.getElementById(inputId).classList.add("input-error"); /* Pone el borde rojo al input */
        const span = document.getElementById(errorId); /* Obtiene el span del error */
        span.textContent = mensaje; /* Escribe el mensaje de error */
        span.classList.add("visible"); /* Hace visible el span */
    } /* Cierra función mostrarError */

    function limpiarErrores() { /* Función que elimina todos los errores visibles */
        const inputs = document.querySelectorAll(".input-group input"); /* Selecciona todos los inputs del formulario */
        inputs.forEach(input => input.classList.remove("input-error")); /* Quita el borde rojo de cada input */

        const errores = document.querySelectorAll(".error-msg"); /* Selecciona todos los spans de error */
        errores.forEach(e => { e.textContent = ""; e.classList.remove("visible"); }); /* Vacía y oculta cada error */

        document.getElementById("errorTerminos").classList.remove("visible"); /* Oculta el error del checkbox */
    } /* Cierra función limpiarErrores */

    function formatoEmailValido(email) { /* Función que comprueba si el email tiene formato correcto */
        const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; /* Expresión regular: texto + @ + texto + . + texto */
        return regex.test(email); /* Devuelve true si el email es válido, false si no */
    } /* Cierra función formatoEmailValido */

</script> <!-- Cierra bloque JavaScript -->

</body> <!-- Fin del contenido -->
</html> <!-- Fin del documento -->
